<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhaku.detailing">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/bilimdelion_hand"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Search.SearchFilter"></activity>
        <activity android:name=".Login.LoginActivity"

            android:theme="@style/AppTheme.NoActionBar">


        </activity>
        <activity android:name=".Profile.EditProfile"
            android:theme="@style/AppTheme.NoActionBar"
            >


        </activity>
        <activity android:name=".Others.ShareActivity" />
        <activity android:name=".Others.SearchActivity" />
        <activity android:name=".Others.ProfileActivity" />
        <activity android:name=".Others.LikesActivity" />
        <activity
            android:name=".Others.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:windowSoftInputMode="adjustPan"
            android:name=".Register.RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Login.LoginAndRegister"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Others.WebHomePage"
            android:label="@string/title_activity_web_home_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ItemLists.ItemListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".Details.ItemDetailActivity"
            android:label="@string/title_item_detail"
            android:parentActivityName=".ItemLists.ItemListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.zhaku.detailing.ItemLists.ItemListActivity" />
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>